<style>
  .search-btn{
    background-color: red;
    color: white;
    border-radius: 1rem;
    padding: 0rem 1.2rem;
    
  }
  .search-btn:hover{
    background-color: red;
    color: white;
    border-radius: 1rem;
  }
  .search-icon{
    color: white;
    font-size: 1rem;
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp{
    padding: 0.5rem 3rem;
    border-radius: 1rem;
   
    
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         
          <a class="nav-link" href="/listings">Explore</a>
          
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search Destination" aria-label="Search">
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass search-icon"></i>Search</button>
          </form>
        </div>
        
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb your home</a>
          <!-- day 51: to add signup and all buttons -->

          <!-- now if we want ki jo user login hoy to tene khali logout no j option batave and jo user login na hoy to signup and login no option batave to aa mate aapde req.user ni info no upyoug karvo padse. jo user login hase to req.user ma info hase jo nahi hoy to kai info nahi hoy. we can't directly access req.user here so we have to store req.user in res.locals -->
          
          <%if(!currUser){%>
            <a class="nav-link " href="/signup"><b>SignUp</b></a>
            <a class="nav-link" href="/login"><b>Login</b></a>
          <%}%>
          <% if(currUser){ %>
             <a class="nav-link" href="/logout"><b>Logout</b></a> %>
          <%}%>
        </div>
      </div>

      
    </div>
  </nav>